body{
    font-size: 62.5%;
    text-align: center;
    font-size: 0.6rem;
    font-family: Arial;
    color: grey;
    margin: 0;
}




.carousel{
    padding-bottom: 125px;
    background-color: rgb(218, 218, 218);
    width: 40%;
    margin: 0 auto;
}


.yes{
    font-size: 1rem;
}

.title2{
    margin: 20px;
}

.article{
    display: inline-block;
    padding-bottom: 200px;
    width: 12.9%;
    background-color: rgb(218, 218, 218);
    margin: 3px;
    margin-top: 0;
}

hr{
    width: 40%;
    margin-top: 97px;
}

.contact{
    padding-right: 500px;
}

form{
    width: 40%;
    margin: 0 auto;
}

.contact{
    text-align: left;
    padding-right: 1px;
    font-size: 1.2rem;
}

input{
    width: 80%;
    margin-bottom:5px ;
}

select{
    width: 81%;
    margin-bottom:5px ;
}
.borderOn{
    border: 1px grey solid;
}

textarea{
    width: 80%;
    height: 50px;
}